@charset "utf-8";
/* CSS Document */

#msg{
	margin-bottom:10px; 
	color:#30AA2D;
	text-align:center;
	font-weight:bold;
}

div{
	width:800px;
}
div form{
	text-align:center;	
}

div form label{
	position:relative; display:inline-block;
	width:130px;
	
	margin-bottom:9px;
	text-align:right;
	background-color:#CCC;
	padding:5px;
}

div form input{
	height:25px;
	position: relative; 
    width: 300px;
    border:1px solid #001471;
	background-color:#E8ECFF;
	padding:5px;
}

div form select{
	height:25px;
	position: relative; 
    width: 300px;
   	border:1px solid #001471;
	background-color:#E8ECFF;
}



