html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td 				{ background: transparent; border: 0; margin: 0; padding: 0}
table 						{ border-collapse: collapse; border-spacing: 0;}
body		 				{color:#666; font:normal 68.8%/1.6em Verdana,sans-serif; line-height: 1; margin:0; padding:0; text-align:center}
#header						{ border-right:1px solid #999;background:transparent url(border_Header.gif) repeat-x left bottom; overflow:hidden; padding:0 1.09em 0 0; position:relative}
#mainContent 				{ margin: 0 auto; text-align: left}
#mainContent, #footer		{ overflow:hidden; width: 70.18em}
h1		 					{ margin:0}
#generalContent 				{ border-right:1px solid #999;overflow:hidden; padding-top: 0.36em;}
.generalBtn					{ background:#EC0000 url(bg_GeneralBtn.gif) repeat-x left bottom; border:none; color:#fff; cursor:pointer; font-family:Verdana, sans-serif; font-size:1em; font-weight:700; padding:0.2em 0.3em; text-align:center; margin-right:3.3em; float:right}
.generalLink				{ background:transparent url(bg_GeneralBtn.gif) repeat-x left bottom; border:none; color:#fff; display:inline-block; cursor:pointer; font-family:Verdana, sans-serif; font-size:1.09em; font-weight:700; padding:0.3em 0.5em; text-align:center; text-decoration:none}
a.generalLink:hover			{ text-decoration:underline}
.contentText .linkbtn p a		{ color:#fff; line-height:1; text-decoration:none}
.textoIzquierda				{ text-align:left}
.textoCentro				{ text-align:center}
.textoDerecha				{ text-align:right}
.textoJustificado			{ text-align:justify}
.textoSubrayado				{ text-decoration:underline}
.textIndent				   	{ display:block; left:-2000em; top:-2000em; position:absolute}

/*======================================
	LINKS PRINT, BACK & UPCONTENTLINK
======================================*/

#linksPrintBack				{ clear:both; overflow:hidden; height:1%; list-style:none; margin:0.1em 0 1.09em}
#linksPrintBack li			{ margin:0; padding:0}
#linksPrintBack li.back		{ float:left}
#linksPrintBack li.print		{ float:right}
#linksPrintBack li a			{ color:#ec0000; display:inline-block; line-height:1.5em; text-decoration:none}
#linksPrintBack li.back a		{ background:transparent url(volver.gif) no-repeat left center; padding-left:0.8em}
#linksPrintBack li.print a		{ background:transparent url(imprimir.gif) no-repeat left center; padding-left:1.8em}
.blockbtnLink				{ clear:both; margin-bottom:1.09em; overflow:hidden}
.blockbtnLink p				{ margin:0}
.blockbtnLink a				{ background:transparent url(subir.gif) no-repeat right center; color:#ec0000; display:block; float:right; padding-right:1.09em; text-decoration:none}

/*===========
	GRIDS
===========*/

#multimedia 						{ width:51.82em}
#sidebarLeft 					{ clear:left; margin-right:1.02em}
#sidebarLeft, #sidebarRight,
#login							{ width:17.27em}
#sidebarLeft, #content,
#multimedia, #breadCrumb		{ float:left}
#sidebarRight, #login			{ float:right}
#content, #breadCrumb 			{ width:33.46em}
#content2Col					{ float:right; margin-right:1.09em; width:50.71em}
#content2Colb					{ float:right; clear:right; margin-right:1.09em; width:50.71em}
#ContentPreHome					{ padding:0 1.09em; width:68em}


/*=============
	HEADER
=============*/
#header h1		  		{ float:left; overflow:hidden; margin-bottom:.1em}
#header h1 a	  			{ display:block}
.headtop				{ overflow:hidden}
#secondMenu		   		{ margin:0.25em 0 0; padding-bottom:2.8em;line-height:1.2em; overflow:hidden}
#secondMenu	ul	   		{ float:right;overflow:hidden}
#secondMenu a	   		{ color:#f00; display:block; text-decoration:none} 
#secondMenu li	   		{ padding:0 .5em 0 .64em}
#secondMenu li + li			{ background:transparent url(separacion.gif) no-repeat left center}
.spanNumber				{ background:transparent url(separacion.gif) no-repeat right center; padding-right:0.6em}
#actions .percent		{ margin:0 .5em}
.accionsan a				{ color:#f00}
.percent span			{ background:transparent url(separacion.gif) no-repeat right center; padding-right:.6em}
#menu, #actions, 
#actions ul				{ float:left}
#menu			   		{ margin:0 0 0.1em 1.09em; position:absolute; bottom:0; left:17em;}
#actions		   		{ height:1%; overflow:hidden; padding:0.63em 0 0.51em 1.09em;line-height:1.2em}
#actions p				{ float:left; margin:0}
#actions p a	   			{ color:#f00; font-weight:700}
.iconRow		   		{ margin:0 0.54em 0 0.36em}
.positive		   		{ color:#009966}
.negative		   		{ color:#f00}
#header ul li	   			{ float:left; list-style:none; margin:0 0 0 .1em}
#menu li a		   			{ background:#FFF url(tabrightB.gif) no-repeat right top; border-left:1px solid #ccc; color:#f00; display:block; font-size:1em; font-weight:700; line-height:1.27em; padding:0.63em 1em 0.54em; text-decoration:none}
#menu li.actived   		{ background:#FFF url(tabrightBactivo.gif) no-repeat right top; border-left:1px solid #666; position:relative; top:1px}
#menu li.actived a 		{ background:none; border:none; color:#000}
#searchBox		   		{ float:right; margin-top:0.36em; text-align:right}
#searchBox .inputSearch	{ font-size:1em; padding:0; width:7em}
.btnSearch				{ background:#EC0000 url(bg_GeneralBtn.gif) repeat-x left bottom; border:none; color:#fff; cursor:pointer; font-family:Verdana, sans-serif; font-size:1em; font-weight:700; padding:0.1em 0.6em; text-align:center}
/*=============
    FOOTER
=============*/

#footer ul		 		{ background-color:#5a5a5a; overflow:hidden}
#footer li		 		{ float:left; list-style:none}
#footer li.first			{ background-color:#ec0000; }
#footer li.first a 		{ padding:0.27em 2.54em 0.45em}
#footer li a	 			{ color:#fff; display:block; padding:0.27em 1.09em 0.45em; text-decoration:none}
#footer li a:hover,
#footer li.first a:hover	{ text-decoration:underline}
#footer address			{ color:#666; display:block; float:right; font-style:normal; line-height:1.2em; margin-top:0.27em; text-align:left; width:51.5em}

/*==================
    BREADCRUMB
===================*/

#contentBreadCrumb				{ border-bottom:1px solid #ccc; height:1%; padding:1.09em 0}
#contentBreadCrumb ul			{ background:transparent url(home.gif) no-repeat left 4px; padding-left:1em; overflow:hidden}
#contentBreadCrumb li				{ background:transparent url(ico_RowBreadcrumb.gif) no-repeat right center; display:inline; list-style:none; line-height:1.64em; margin-left:0.54em; padding-right:1em; color:#000}
#contentBreadCrumb li.last		{ background:none}
#contentBreadCrumb li a			{ text-decoration:none; color:#ec0000}
#contentBreadCrumb li a:hover		{ text-decoration:underline}

/*==================
    BANNERS
===================*/

.banner				{ margin-bottom:1.09em}
.banner img			{ border:none; width:100%}
.img_190x115, 
.img_190x85,
.img_190			{ width:17.28em}
.img_190x115 p, 
.img_190x85 p,
.img_340x120 p,
.img_190 p			{ margin:0}
.img_190x115 a, 
.img_190x85 a,
.img_190 a			{ display:block}
.img_570x227		{ width:51.82em}
.img_570x227 object { width:51.82em; height:20.6em}
.img_120x120		{ width:10.9em}
.img_120x120 .imagen{ width:100%; display:block}
.img_340x120		{ width:30.9em}
.img_340x120 .imagen{ width:100%; display:block;margin-bottom:1.09em}

/*==================
    SIDEBAR MENU
===================*/

#SideBarMenu				 { background:transparent url(bgBottom_sideBarMenu.gif) repeat-x left bottom; padding-bottom:0.6em}
#SideBarMenu li				 { background:#cecece url(fondoMenu.gif) repeat-x left top; list-style:none}
#SideBarMenu ul ul				 { background-color:#dedede}
#SideBarMenu ul ul ul			 { background-color:#fff}
#SideBarMenu li a				 { color:#505050; display:block; font-size:1.09em; font-weight:700; line-height:1.27em; padding:0.45em 1.09em; text-align:left; text-decoration:none}
#SideBarMenu li a:hover		 { color:#ec0000;border:1px solid #ec0000}
#SideBarMenu li li li			 { background:#fff none}
#SideBarMenu li li li a 			 { background-color:#f7f7f7;border:1px solid #fe986b; color:#000;font-weight:100; padding-left:2em}
#SideBarMenu li li li li a  			 { border-top:1px solid #cecece; border-bottom:1px solid #cecece;padding-left:2.90em}
#SideBarMenu li li				 { background:#dedede url(bg_Submenu_sideBar.gif) repeat-x left top}
#SideBarMenu li li a			 { color:#000;font-size:1em; font-weight:300}
.NoSelec1, .NoSelec2, .NoSelec3		 { background:transparent url(icoArrowReposo.gif) no-repeat right center}
.selected1, .selected2, .selected3{ background:transparent url(icoArrowSelect.gif) no-repeat right center;color:#ec0000!important; border:1px solid #ec0000}  
.NoSelec1:hover, .NoSelec2:hover { background:transparent url(icoArrowOver.gif) no-repeat right center}
.NoSelected .selectedHijos	 { font-weight:300; color:#ec0000!important;border:1px solid #ec0000}
#SideBarMenu li .selectedHijos{color:#B50002}
#SideBarMenu li li .selectedHijos{font-weight:normal;color:#B50002}
#SideBarMenu li li li.selectedHijos{font-weight:normal;color:#B50002}
#SideBarMenu .c3rr0			 { display:none}
#SideBarMenu .v1s1bl3		 { display:block}

/*=====================
    MAIN LINKS HOME
=====================*/

#contentList				{ background:transparent url(bg_ContentLinks.gif) repeat-y center top; border:1px solid #ccc; margin-bottom:1.09em}
#contentList:after 			{ content:" ";display:block;height:1px;width:1px;clear:both;visibility:hidden}
#contentList .firstList		{ float:left; width:49.6%}
#contentList .lastList		{ float:right; width:49.6%}
#contentList .firstList h2,
#contentList .lastList h2	{ color:#333; background-color:#FFF; display:inline-block; font-size:1.27em; line-height:1.4em; margin:-.8em 0 .4em .46em; padding:0 .2em }
#contentList ul				{ height:1%; overflow:hidden; padding:0 0.9em 1.09em .9em}
#contentList li				{ background:transparent url(gris_der2.gif) no-repeat left 4px; clear:left; display:block; list-style:none; line-height:1.27em; padding:0 0 .45em .80em}
#contentList li a				{ color:#ec0000; text-decoration:none}
#contentList li a:hover		{ text-decoration:underline}

/*=========================
    SECONDARY LINKS HOME
=========================*/
.secondaryList 				{ background:transparent url(fondoEspacios.gif) repeat left center; border-top:1px solid #ccc; margin:1.29em 0}
.secondaryList h2			{ background-color:#fff;color:#333; font-size:1.27em; line-height:1.4em; margin:-.8em 0 .5em .7em; padding:0 0.2em; display:inline-block}
.secondaryList ul			{ height:1%; overflow:hidden; padding:0 0.9em 1.09em 1.54em}
.secondaryList li				{background:transparent url(gris_der2.gif) no-repeat left 4px; clear:left; line-height:1.27em; list-style:none; padding:0 0 .45em .80em}
.secondaryList li a			{ color:#ec0000; display:block; text-decoration:none;}
.secondaryList li a:hover		{ text-decoration:underline}

/*===============================
    LOGIN CONTENT y LOGIN HOME
===============================*/

#contentLogin								{ border:1px solid #ec0000; margin:0 .5em 1.09em 0}
#contentLogin h2								{ display:block}
#contentLogin img							{ width:100%; display:block}
#contentLogin .homeLbl,
#contentLogin .intLbl						{ color:#000; display:block; font-size:1em; line-height:1.09em; overflow:hidden; text-align:center}
#contentLogin .homeLbl p						{ font-weight:700; margin:0 0 0.9em 0; text-align:center;width:100%; float:left}
#contentLogin .intLbl p						{ float:left; margin:0; text-align:center; width:6em}

#contentLogin .contentAccess					{ background:transparent url(icocandado.gif) no-repeat right center; height:6em; overflow:hidden; padding:0.81em 0.54em 0.9em}
#contentLogin .contentAccessInt				{ background:transparent url(icocandado.gif) no-repeat right center; height:3em; overflow:hidden; padding:0.81em 0.54em 0.9em}
#contentLogin .contentAccess p,#contentLogin .contentAccessInt p{ margin-top:0}
#contentLogin .signUp						{ background:transparent url(ico_mano.gif) no-repeat right 45px;border-top:1px solid #ec0000; padding:0.81em 0.54em 0.9em; height:6em}
#contentLogin .signUpInt						{ border-top:1px solid #ec0000; padding:0.81em 0.54em 0.9em; height:3em}
#contentLogin .homeLbl .generalBtn			{ margin:0 auto}
#contentLogin  input.bot01						{background-color:#FFF; border:none; color:#ec0000; cursor:pointer; display:block; font-family:Verdana, sans-serif; font-size:1em;margin:1.09em auto 0 auto; font-weight:300; padding:0; text-align:center; text-decoration:underline}
#contentLogin  input.bot01[class]				{background-color:transparent;width:100%}
#contentLogin .generalBtn					{ background:#EC0000 url(bg_GeneralBtn.gif) repeat-x left bottom; border:none; color:#fff; cursor:pointer; font-family:Verdana, sans-serif; font-size:1em; font-weight:700; padding:0.2em 0.3em; text-align:center; margin-right:3.3em; width:4.9em; float:none}

/*=====================
    SIMPLE SEARCH
=====================*/

#simpleSearch				{ background:#f6f6f6 url(bg_SimpleSearch.gif) repeat-x top left; border:1px solid #ccc; margin-bottom:1.09em}
#simpleSearch legend,
#simpleSearch h3				{ color:#000; display:block; font-weight:700; line-height:1.27em; padding:0.18em 0.72em 0.27em; white-space:normal}
#contentFields				{ overflow:hidden; padding:1.09em}
#contentFields label			{ color:#000; float:left; margin-right:0.54em}
#contentFields label input		{ font-size:1em; padding:0}
#simpleSearch h3				{ margin:0}
#contentFields a				{ float:right}

/*=====================
    GLOSARY CONTENT
=====================*/

#paging					{ border-bottom: 1px solid #dacdca; margin-bottom:1.09em; padding-bottom:1.09em; overflow:hidden}
#paging ul				{ height:1%; overflow:hidden}
#paging li				{ }
#paging li				{ background:transparent url(ico_RowGlosary.gif) no-repeat left center; float:left; list-style:none; padding-left:1.4em}
#paging li a				{ color:#ec0000; display:block; text-decoration:none}
#paging li a:hover			{ text-decoration:underline}
#paging li.actived		{ background:transparent url(ico_RowGlosarySelected.gif) no-repeat left center; color:#000} 
#ResultList dt			{ color:#000; line-height:1.27em; margin-bottom:0.45em; text-align:left}
#ResultList dd			{ line-height:1.27em; margin-bottom:2.09em;text-align:left}

/*=========================
    SECONDARY LINKS INT
=========================*/
.secondaryListInt			{background:transparent url(fondoEspacios.gif) repeat left center}
.secondaryListInt h2			{ color:#333; display:block; font-size:1em; line-height:1.64em; margin:0 0 .9em 0.7em; padding:0 0.36em; border-bottom:1px solid #666}
.secondaryListInt ul			{ height:1%; padding:0 0.9em 1.09em 1.54em; overflow:hidden}
.secondaryListInt li			{ background:transparent url(ico_listaStyle2.gif) no-repeat left 3px; clear:left; line-height:1.27em; list-style:none; padding:0 0 .45em .80em}
.secondaryListInt li a			{ color:#ec0000; display:block; text-decoration:none}
.secondaryListInt li a:hover	{ text-decoration:underline}

/*=====================
    TEXT CONTENT
=====================*/
.contentText						{ overflow:hidden}
h2.contentTitle						{ color:#000; font-size:1em; margin:1.09em 0}
.contentText h3						{ color:#333; font-size:1.09em; margin:1.09em 0}
h2.contentTitle span					{ display:block; font-size:1.45em;}
h2.contentTitle span.mainTitle		{ font-size:1.45em}
h2.contentTitle,
.contentText p	 					{ line-height:1.64em}
.contentText .img_120x120			{ float:right; margin:0 0 1.63em 1.09em}

h2.contentTitle span.mainTitle		{ color:#ec0000}
.contentText p a, 
.contentText li a:hover				{ text-decoration:underline}
.contentText li a,	
.contentText p a						{ color:#ec0000; cursor:pointer}

.blockText							{ line-height:1.64em; margin:0 0 1.09em 1.09em}
.blockText ol						{ margin-left:1em}
.blockText ol li						{ list-style:decimal;background:none!important;display:list-item!important;margin-left:2em;padding-left:0!important}
.blockText ul.lista2					{ height:1%; overflow:hidden}
.blockText ul.lista2 li				{ background:transparent url(ico_listaStyle2.gif) no-repeat left 0.4em; clear:left; float:left; padding-left:1em}
.blockText ul.lista2  a				{ color:#EC0000; clear:left; cursor:pointer; display:block; line-height:1.64em; text-decoration:none}
.blockText ul.lista2 a:hover			{ text-decoration:underline}
.blockText ul						{ list-style: none; margin:1.09em 0}
.blockText ul ul						{ margin-top:0}
.blockText ul li						{ background:transparent url(icoBullet.gif) no-repeat left 0.65em; display:block; line-height:1.64em; padding-left:1.09em; text-align:left}
.blockText ul li li						{ background:transparent url(ico_listLevel2.gif) no-repeat left 0.5em; margin-left:2.2em}
.blockText ul li li li						{ background:transparent url(ico_listLevel3.gif) no-repeat left 0.5em}
.blockText .table2 caption				{ font-weight:700}
.blockText .table2					{ border-right:0.063em solid #666; border-bottom:0.063em solid #666; margin-bottom:1em; text-align:center}
.blockText .table2 span				{ font-weight:200}
.table2 th							{ background-color:#666; border-left:1px solid #666; color:#fff; padding:0.62em}
.table2 td							{ border-left:0.063em solid #666; color:#666; padding:0.62em}

.contentText .intList				{ margin-left:1.09em}
.contentText .intList ul				{ margin-bottom:1.09em}

.contentText .intList li				{ background:transparent url(gris_der2.gif) no-repeat left center; clear:left; color:#000; list-style:none; line-height:1.64em; padding-left:1em; text-align:left}
.contentText .intList li a				{ text-decoration:none}
.contentText .intList li a:hover		{ text-decoration:underline}

.contentText .linkbtn				{ border-bottom: 1px solid #ccc; clear:both; margin:0 1.09em 1.63em 1.09em; text-align:right}
.contentText .linkbtn p				{ margin:0}
.contentText .generalLink			{ color:#fff; line-height:1; margin:0.81em 0em 1em}

/*==========================================
    SEARCH RESULTS, ITEMS FOUND & PAGING
==========================================*/

.searchResults					{ background-color:#fcfcfc}
.searchResults dl				{ margin:0 1.09em; padding:1.09em 0}
.searchResults a					{ color:#ec0000; font-weight:700; padding:0 2em 0 1.09em; text-decoration:none}
.searchResults p					{ color:#333; margin-left:1.09em}
.searchResults a,
.itemsFound span,
.searchResults p					{ line-height:1.64em}
.searchResults dt				{ background:transparent url(gris_der2.gif) no-repeat left 0.4em}
.searchResults dt.download a		{ background:transparent url(i_descarga.gif) no-repeat right top}
.itemsFound						{ text-align:right}
.itemsFound p					{ color:#000; margin:0 1.09em 1.09em}
#pagingPages					{ float:right; height:1%; margin-right:1.09em; overflow:hidden}
#pagingPages ul					{ float:left; overflow:hidden}
#pagingPages li					{ color:#333; float:left; font-family:Arial, Helvetica, sans-serif;font-size:1.09em; list-style:none; padding:0 0.45em}
#pagingPages li a					{ color:#333;font-family:Arial, Helvetica, sans-serif; font-size:1.09em; line-height:1.64em; text-decoration:none}
#pagingPages p					{ color:#333; float:left;font-family:Arial, Helvetica, sans-serif; font-size:1.09em; line-height:1.64em; margin:0}
#pagingPages li.actived a			{ color:#ec0000; font-weight:700}
#pagingPages li.prevLink a			{ background:transparent url(ico_prev.gif) no-repeat left center; padding-left:2em}
#pagingPages li.nextLink			{ background:transparent url(ico_next.gif) no-repeat right center; padding-right:2em}
#pagingPages li a:hover			{ text-decoration:underline}

/*==============
    WEB MAP
==============*/

#generalWebMap					{ margin-top:.25em; overflow:hidden}
#generalWebMap a					{ color:#ec0000; text-decoration:none}
#generalWebMap h2				{ background: transparent url(carpeta_roja.gif) no-repeat left 0.3em; font-size:1em; font-weight:200; line-height:1.64em; padding-left:1.5em}
.contentWebMap					{ background-color:#fafafa; padding:0.90em}
.rowContentLinks				{ height:1%; overflow:hidden; padding:0 0.54em 0.45em;}
.rowContentLinks .repeatListMap	{ float:left; margin-top:1em; width:33%}
.rowContentLinks h4				{background:transparent url(bg_mapa_n3.gif) no-repeat 0 top; color:#ec0000; font-size:0.81em; font-weight:700; line-height:1.27em; margin-bottom:1em; padding-left:2em}
#generalWebMap h3				{ background: #e5e5e5 url(bg_mapa_n2.gif) no-repeat 0.2em 0.15em; color:#ec0000; font-size:1.09em; line-height:1.27em; margin-bottom:0.36em; padding-left:2em}
#generalWebMap ul				{ padding:0}
#generalWebMap li					{ background:transparent url(ico_squareWebMap.gif) no-repeat 0.4em 0.4em; line-height:1.27em; list-style:none; margin-left:0; padding-left:1em}
#generalWebMap li a				{ display:inline-block; font-weight:100; margin-left:0.54em}
#generalWebMap li a:hover			{ text-decoration:underline}

/*===========
 	FLASH
===========*/

#ContentPreHome						{ height:329px; margin-bottom:3.27em; width:748px}
#contentFlash ul						{ overflow:hidden}
#contentFlash li						{ float:left; list-style:none}
#contentFlash li a						{ display:block; height:22.5em; text-decoration:none; width:13.1em}
#contentFlash .private a				{ background:transparent url(prehome_01off.jpg) no-repeat 0 0;}
#contentFlash .personalBanking a		{ background:transparent url(prehome_02off.jpg) no-repeat 0 0;}
#contentFlash .privateBanking a		{ background:transparent url(prehome_03off.jpg) no-repeat 0 0;}
#contentFlash .business a			{ background:transparent url(prehome_04off.jpg) no-repeat 0 0;}
#contentFlash .institution a			{ background:transparent url(prehome_05off.jpg) no-repeat 0 0;}
#contentFlash .private a:hover		{ background:transparent url(prehome_01on.jpg) no-repeat 0 0;}
#contentFlash .personalBanking a:hover{ background:transparent url(prehome_02on.jpg) no-repeat 0 0;}
#contentFlash .privateBanking a:hover{ background:transparent url(prehome_03on.jpg) no-repeat 0 0;}
#contentFlash .business a:hover		{ background:transparent url(prehome_04on.jpg) no-repeat 0 0;}
#contentFlash .institution a:hover	{ background:transparent url(prehome_05on.jpg) no-repeat 0 0;}
#contentFlash li span					{ left:-9000em; position:absolute}
#contentFlash .personalBanking,
#contentFlash .privateBanking,
#contentFlash .business,
#contentFlash .institution			{ margin-left:0.62em}
#footerFlash						{ background:transparent url(prehome_pie.gif) no-repeat 0 0; height:6.3em; margin:1.09em 0 3.27em; overflow:hidden; text-align:right; width:68em}
#footerFlash h2						{ color:#666; font-size:1.45em; font-weight:700; margin:2em 2.54em 0}
#footerFlash h2 span					{ color:#ec0000}

/*==============
 	IFRAMES
==============*/

.ifr01  { height:115em; width:100%}
.ifr02  { height:100em; width:100%}
.ifr03  { height:55em; width:100%}
#content2Colifr { float:right; width:51.75em}
.contentTextifr { width:33.46em}
.ext    { clear: right}

/*=================
 	TABLE INDEX
=================*/

#tableIndex						{ margin-bottom:1.09em; position:relative}
#tableIndex #seeAll				{ position:absolute; right:0; background-color:#F4ECEC; border:1px solid #BFBFBF; border-bottom:none; color:#000; font-size:1.2em; font-weight:bold; line-height:1.2em; margin:0; padding:0 1.2em}
#tableIndex #seeAll a			{ color:#000; text-decoration:none}
#tableIndex table					{ border:1px solid #BFBFBF; border-top:none; font-size:1.2em; width:100%}
#tableIndex table caption			{ background-color:#E5E5E5; border:1px solid #BFBFBF; border-bottom:none; color:#000; font-weight:bold; line-height:1.2em; padding:0 0 0 0.6em; text-align:left; width:100%;}
#tableIndex table th				{ background-color:#F4ECEC; border-collapse:separate; border:1px solid #FFFFFF; border-top:none; color:red; font-weight:normal}
#tableIndex th span				{ border:1px solid #C3010D; color:#C3010D; display:block; line-height:1.2em; padding:0 0.3em; text-align:center}
#tableIndex table #subHeader1,
#tableIndex table #subHeader2,
#tableIndex table #subHeader3		{ background-color:#fff; border:1px solid #e5e5e5}
#tableIndex #subHeader1 span,
#tableIndex #subHeader2 span,
#tableIndex #subHeader3 span		{ border:none; color:#FF0000; float:left; text-align:left}
#tableIndex #subHeader1 img,
#tableIndex #subHeader2 img,
#tableIndex #subHeader3 img		{ float:right; margin:0.3em 0.4em}
#tableIndex table td				{ border:1px solid #E5E5E5; color:#000; padding:0 0.4em}
